name: benchmark
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  benchmark:
    name: Performance check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Run benchmark
        run: |
          cargo bench
 
